<h1>Listing entries</h1>

<table>
  <tr>
    <th>User email</th>
    <th>Shoe1</th>
    <th>Shoe2</th>
    <th>Shoe3</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%=h person.user_email %></td>
    <td><%=h person.shoe1_id %></td>
    <td><%=h person.shoe2_id %></td>
    <td><%=h person.shoe3_id %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New entry' %>