<p>
  <b>User email:</b>
  <%=h @person.user_email %>
</p>

<p>
  <b>Shoe1:</b>
  <%=h @person.shoe1_id %>
</p>

<p>
  <b>Shoe2:</b>
  <%=h @person.shoe2_id %>
</p>

<p>
  <b>Shoe3:</b>
  <%=h @person.shoe3_id %>
</p>


<%= link_to 'Edit', edit_entry_path(@person) %> |
<%= link_to 'Back', entries_path %>