<p>
  <b>User email:</b>
  <%=h @entry.user_email %>
</p>

<p>
  <b>Shoe1:</b>
  <%=h @entry.shoe1_id %>
</p>

<p>
  <b>Shoe2:</b>
  <%=h @entry.shoe2_id %>
</p>

<p>
  <b>Shoe3:</b>
  <%=h @entry.shoe3_id %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>