%p#step-1.step_box.hide
  Du möchtest deine Schuhgröße für einen bestimmten Schuh wissen?
  %br
  Dann trage hier bitte mindestens den Hersteller ein.
= form_for(foot, :remote => true ) do |f|
  = f.fields_for :searched_shoe, foot.searched_shoe do |searched|
    %ol.shoe_row.shoe_completer
      %li.labelwrap
        = searched.label( :manufacturer_name, "Hersteller")
        = searched.text_field( :manufacturer_name, :class => "manufacturer")
      %li.labelwrap
        = searched.label(:model_name, "Modell")
        = searched.text_field(:model_name, :class => "model")
      %li.buttonwrap=submit_tag( 'OK', :id => "searched_shoe_submit",  :class => 'button right_submit')

