%p Du suchst nach:
%ol.shoes_list
  %li
    = delete_seached_shoe_button
    = edit_seached_shoe_button
    = "#{@foot.searched_shoe.manufacturer_name}"
    = " // #{@foot.searched_shoe.model_name}" if @foot.searched_shoe.model_name.present?
    
