
%li{ :class => cycle('odd','even') }
  = delete_shoe_button(shoe_counter) 
  = "#{shoe.manufacturer} // #{shoe.model.present? ? shoe.model+' //' : ''} Size (#{shoe.has_eur_size? ? 'EUR' : 'US'}): #{shoe.size}"
