
%li{ :class => cycle('odd','even') }
  = delete_shoe_button(shoe_counter) 
  = "#{shoe.manufacturer} // #{shoe.model.present? ? shoe.model+' //' : '' }"
  Größe
  %small{:title => formatted_size(shoe)}
    = "(#{size_code(shoe)}):"
  = shoe.size_string
