
%li{ :class => cycle('odd','even') }
  = delete_shoe_button(shoe_counter) 
  = "#{shoe.manufacturer} // #{shoe.model.present? ? shoe.model+' //' : '' }"
  Größe
  %small
    = "(#{size_code(shoe)}):"
  %span{:title => formatted_size(shoe)}= pretty_size(shoe.size_string)
