%li{ :class => cycle('odd','even') }
  =link_to_remote image_tag('app/cross.png' , :class => 'delete'), :url => "/shoes/#{shoe.id}", :method => :delete, :update => 'forecast_shoes' 
  = "#{shoe.manufacturer} // #{shoe.model} // Größe: #{shoe.size}" 
