%tr{ :class => cycle('odd','even') }
  %td= shoe.manufacturer 
  %td= shoe.model 
  %td= shoe.size 
  %td= link_to_remote "löschen", :url => "/shoes/#{shoe.id}", :method => :delete, :update => 'forecast_shoes'
