<h1>New foot</h1>

<% form_for @foot do |footform| %>
  <%= footform.error_messages %>
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <th>Hersteller</th>
      <th>Modell</th>
      <th>Größe</th>
    </tr>
    <%= render :partial => 'shoes',  :locals => {:subform => footform} %>
    <%# footform.fields_for :shoes do |shoe| %>
      <%# @shoed = shoe %>
      <%#= render :partial => 'shoes', :locals  => { :shoe => shoe} %>
    <%# end %>
    <tr id="insert_shoe_button_row">
      <td colspan="3"></td>
      <td>
        <%= add_shoe_button(@shoed) %>
      </td>
    </tr>
  </table>

  <p class="tar buttonbox">
    
    <%= footform.submit 'Create' %>
    <%= link_to 'Back', feet_path %>
  </p>
<% end %>

