<h1>New foot</h1>

<% form_for  @foot do |footform| %>
  <%= footform.error_messages %>
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <th>Hersteller</th>
      <th>Modell</th>
      <th>Größe</th>
    </tr>
      <% footform.fields_for :shoes, :index => :shoes do |shoeform| %>
    	  <tr>
    	    <td>
    	      <%= shoeform.text_field :manufacturer %>
    	    </td>
    	    <td>
    	      <%= shoeform.text_field :model %>
    	    </td>
    	    <td>
    	    <%= shoeform.text_field :size %>
    	    </td>
        </tr>
      <% end %>  
  </table>

  <p class="tar buttonbox">
    <%= footform.submit 'Create' %>
    <%= link_to 'Back', feet_path %>
  </p>
<% end %>

