%h1 Passwort ändern
- form_for resource_name, resource, :url => password_path(resource_name), :html => { :method => :put } do |f|
  = f.hidden_field :reset_password_token
  %ul
    %li.labelwrap.half
      = f.label :password, "Passwort"
      = f.password_field :password
    %li.labelwrap.half
      = f.label :password_confirmation, "Passwort wiederholen"
      = f.password_field :password_confirmation

    %li.buttonwrap
      = f.submit "Passwort ändern", :class => 'button right_submit'

= render :partial => "shared/devise_links"
