%h1 Passwort vergessen?
- form_for resource_name, resource, :url => password_path(resource_name) do |f|
  %ul
    %li= f.error_messages
    %li.labelwrap       
      = f.label :email
      = f.text_field :email
    %li.buttonwrap
      = f.submit "Anweisungen zusenden", :class => 'button right_submit'
= render :partial => "shared/devise_links"
