= render :partial => 'layouts/flash_block'
- form_for((@feedback || Feedback.new), feedback_form_options ) do |f|
  .step_box_error= uniq_error_messages_for(@feedback)
  %fieldset.inputs
    %ol
      %li.labelwrap
        = f.label :firstname, "Vorname"
        = f.text_field :firstname
      %li.labelwrap
        = f.label :lastname, "Nachname"
        = f.text_field :lastname
      %li.labelwrap.required
        = f.label :email, "E-Mail *"
        = f.text_field :email
      %li.labelwrap.required
        = f.label :message, "Deine Nachricht *"
        = f.text_area :message, :rows => 8, :cols => 45
      %li.buttonwrap.tar
        =submit_tag( 'abschicken', :class => 'button right_submit')
  %p.small
    * erforderliche Angabe
