- remote_form_for(@foot, :url => fitting_path(@foot), :update => 'forecast_shoes_form', :class => "search_shoes_form") do |foot|
  .forecast
    .shoe_row
      In welcher Größe passt mir von
      = text_field_tag "manufacturer", params[:manufacturer], :class => "manufacturer", :id => "manufacturer"
      der 
      = text_field_tag "model", params[:model], :class => "model", :id => "model"
      ?
    %p.tar.buttonbox
      = submit_tag 'Weiter', :name => nil, :id => "search_shoes_submit"
      
#forecast_shoes_form
  = render :partial => 'feet/foot_form' if @foot.shoes.exists?      

#forecast_shoes  
  = render :partial => 'feet/index' if @foot.shoes.exists?      
