.result
  %h1{:title => result_info}
    Deine Größe

  - if @forecast.manufacturer
    %p#searched_shoe
      - if @forecast.manufacturer.present? && @forecast.model.present?
        %small für den Schuh
      - elsif @forecast.manufacturer.present? && @forecast.model.blank?
        %small für den Hersteller
      %br
      %strong= @forecast.manufacturer.capitalize
      %strong= @forecast.model

  #computed_size
    %p.size
      %strong.value= formatted_size(@forecast)
      %span.region= size_region
    %p.result_quality
      Ergebnisqualität:
      %br
      = result_quality


= render :partial => 'buttons'
- if @affiliate_shoes.present?
  %h2
    Du findest
    = shoe_name_or_manufacturer
    bei unseren Online-Partnern:   
  %ol#results.results
    = render 'affiliate_shoe/show', :affiliate_shoes => @affiliate_shoes if @affiliate_shoes
    -#= will_paginate(@affiliate_shoes)
    %br
    = pageless(@affiliate_shoes.total_pages, fitting_path(@foot))

=render :partial => 'buttons' if @affiliate_shoes.size >= 10
  
