.forecast
  Dir passt der
  %strong= @forecast.model 
  von
  %strong= @forecast.manufacturer 
  = rating_as_text
  in der Größe
  %strong= @forecast.size 
  %p  
    Passt 
    %span.rating= rating_as_sign
    (#{rating_as_text})
 
%p
  ( Direkte Treffer #{@forecast.direct_matches}, umgerechnete Treffer #{@forecast.transposed_matches} )