
.affiliate_result
  %h1{:title => result_info}
    Dir passt
    - if @forecast.has_model?
      der
      %strong= @forecast.model.capitalize
      von
    - else
      die Marke
    %strong= @forecast.manufacturer.capitalize
    = rating_as_text
    in der Größe
    %strong.computed_size= "#{@forecast.size} #{@forecast.has_eur_size? ? 'EUR' : 'US'}"
  
  %p
    Passt 
    %span.rating= rating_as_sign
    (#{rating_as_text})
    
  %ol.results
    =render :partial => 'affiliate_shoe/show', :locals => { :affiliate_shoes => @affiliate_shoes} if @affiliate_shoes

  %p=link_to("Weitere passende Schuhe", more_fitting_url(@foot))
