
.affiliate_result
  %h1{:title => result_info}
    Dir passt
    - if @forecast.has_model?
      der
      %strong= @forecast.model
      von
    - else
      die Marke
    %strong= @forecast.manufacturer
    = rating_as_text
    in der Größe
    %strong.computed_size= "#{@forecast.size} #{@forecast.has_eur_size? ? 'EUR' : 'US'}"
  
  %p
    Passt 
    %span.rating= rating_as_sign
    (#{rating_as_text})
  
  = render :partial => 'buttons' if (@affiliate_shoes.size >= 10)
  - if @affiliate_shoes
    %ol#results.results
      = render 'affiliate_shoe/show', :affiliate_shoes => @affiliate_shoes if @affiliate_shoes
      -#= will_paginate(@affiliate_shoes)
      %br
      = pageless(@affiliate_shoes.total_pages, fitting_path(@foot))

  =render :partial => 'buttons' if @affiliate_shoes.size >= 10
  
