<h1>Editing shoes</h1>

<% form_for @shoe do |shoeform| %>
  <%= shoeform.error_messages %>
  <table>
    <tr>
      <td>
        <%= shoeform.label :manufacturer %><br />
        <%= shoeform.text_field :manufacturer %>
      </td>
      <td>
        <%= shoeform.label :model %><br />
        <%= shoeform.text_field :model %>
      </td>
      <td>
        <%= shoeform.label :size %><br />
        <%= shoeform.text_field :size %>
      </td>
      <td>
        <%= shoeform.submit 'Update' %>
        <%= link_to 'Show', @shoe %> |
        <%= link_to 'Back', shoes_path %>
      </td>
    </tr>
  </table>
<% end %>

