<h1>New shoe </h1>

<% form_for(@shoe) do |f| %>
  <%= f.error_messages %>
  <div>
	<p>
	  <%= f.label :manufacturer %><br />
	  <%= f.text_field :manufacturer %>
	</p>
	<p>
	  <%= f.label :model %><br />
	  <%= f.text_field :model %>
	</p>
	<p>
	  <%= f.label :size %><br />
	  <%= f.text_field :size %>
	</p>
  </div>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', shoes_path %>