<p>
  <b>Manufacturer:</b>
  <%=h @shoe.manufacturer %>
</p>

<p>
  <b>Model:</b>
  <%=h @shoe.model %>
</p>

<p>
  <b>Size:</b>
  <%=h @shoe.size %>
</p>


<%= link_to 'Edit', edit_shoe_path(@shoe) %> |
<%= link_to 'Back', shoes_path %>