!!!
%html
  %head
    %title shoe size finder 
    = stylesheet_link_tag 'application', 'jquery.autocomplete', 'formtastic', 'awesome_buttons'
    = javascript_include_tag 'jquery-1.4.2.min.js', 'jquery.plugins/jquery.autocomplete',       |
      'jquery.plugins/jquery.custom', 'jquery-ui-1.7.2.custom.min',  'application' |

    /[if lte IE7]
      = stylesheet_link_tag 'ie'
    
    = yield :head
  %body{:class => body_class }
    /#opacity_layer
    #page
      #header_wrapper
        #header
          %h1#logo=link_to image_tag("app/logo_ssf_invert_white.png"), root_path
          %ul.metanav
            - if user_signed_in? 
              %li= link_to "#{current_user.email} (Ausloggen)", destroy_user_session_path
            - else
              %li= link_to "Login", new_user_session_path
              %li= link_to "Account erstellen", new_user_registration_path
              %li= link_to "Sitzungsdaten löschen", {:action => :new, :controller => :forecasts}, :confirm => "Die Sitzungdaten werden gelöscht.\n Fortfahren?"

      =#render :partial => 'layouts/claim' 
      = render :partial => "/layouts/flash_block" if flash.present?    
      =# debug current_user
      #panel.active
        = yield 
      
      #footer_wrapper
        %ul.metanav
          %li= link_to "Impressum", '#'
          %li= link_to "AGB", '#'

