!!! 5
%html.no-js{:lang => 'de'}
  %head
    -# www.phpied.com/conditional-comments-block-downloads/
    /[if IE]

    %title shoesizefinder.com - wir kennen deine Schuhgröße.
    %meta{ :name => "description",  :content => "Probleme mit der Schuhgröße? Deine Sneaker von einer Marke passen, du kennst aber die richtige Größe bei einen anderen Hersteller nicht? Shoesizefinder findet den passenden Schuh für dich!"}
    %meta{ :name => "keywords",  :content => "Schuhgröße, Schuhgrößenvergleich, Schuhgrößentabelle, Schuhgröße ermitteln"}

    %meta{ 'http-equiv' => "X-UA-Compatible", 'content' => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}

    -#%link{:href => "/favicon.ico", :rel => "shortcut icon"}
    -#%link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}
    -# For the less-enabled mobile browsers like Opera Mini
    -# All JavaScript at the bottom, except for Modernizr which enables HTML5 elements &amp; feature detects
    = javascript_include_tag "modernizr-1.5.min.js"

    =# stylesheet_link_tag "handheld.css", :media => "handheld"
    = stylesheet_link_tag :application

    / TODO stylesheets und js rails 3 like
    /<%= javascript_include_tag :defaults %>
    = csrf_meta_tag

    /[if lte IE 7]
      = stylesheet_link_tag 'ie7'

    = yield :head
  %body{:class => body_class }
    #page
      %header
        = image_tag("app/betabadge.png", :id => 'betabadge', :alt => "beta!")
        %h1#logo=link_to image_tag("app/logo_ssf_invert_white.png", :alt => "Shoesizefinder"), root_path
        %ul.metanav
          - if user_signed_in? 
            %li= link_to "#{current_user.email} (Ausloggen)", destroy_user_session_path
            %li= link_to "Einstellungen", edit_registration_path(:user)
          - else
            %li= link_to "Login", new_user_session_path
            %li= link_to "Account erstellen", new_user_registration_path
            /TODO %li= link_to "Alle Schuhe löschen", new_foot_forecast_path, :confirm => "Die eingegeben Schuhe werden gelöscht.\n Fortfahren?"
      =#render :partial => 'layouts/claim'
      = render :partial => "/layouts/flash_block" if flash.present?
      =# debug current_user
      #panel.active
        = yield

      %footer
        %ul.metanav
          %li= link_to "Kontakt und Impressum", '/pages/impressum'
          %li= link_to "Nutzungsbedingungen", '/pages/agb'

    = render :partial => 'layouts/feedback'
    = render :partial => '/layouts/bottom'
    = yield :bottom
