!!!
%html
  %head
    %title shoe size finder 
    = stylesheet_link_tag 'application', 'jquery.autocomplete', 'formtastic'
    = javascript_include_tag 'jquery', 'jquery.autocomplete', 'application' 
    = yield :head
    -javascript_tag do 
      = yield(:jstemplates) 
  %body
    #header_wrapper
      #header.centered
        %h1#logo=link_to "<small>[logo]</small> schuhkombinat.de", root_path
    =render :partial => 'layouts/claim' 

        
    #panel.centered
      = yield
