!!!
%html
  %head
    %title shoe size finder 
    = stylesheet_link_tag 'application', 'jquery.autocomplete'
    = javascript_include_tag 'jquery', 'jquery.autocomplete', 'application' 
    = yield :head
    -javascript_tag do 
      = yield(:jstemplates) 
  %body
    #header_wrapper
      #header.centered
        %h1=link_to "<small>[logo]</small> schuhkombinat.de", root_path
    #claim_wrapper
      #claim.centered 
        Kein Ärger mehr mit falschen Schuhgrößen.
        %br 
        Das Schuhkombinat findet die passende Größe für dich!
        
    #panel.centered
      = yield
